<div class="row m-5">
  <div class="col-6 mx-auto">
    <h1>Custom Input Design</h1>

    <div class="form-group row mt-5">
      <label class="col-sm-3"> Normal Input :</label>
      <input type="email" placeholder="E-mail">
    </div>

    <div class="form-row mt-2">
      <label class="col-sm-3"> Email :</label>
      <custom-input icon="envelope"></custom-input>
    </div>

    <div class="form-row mt-2">
        <label class="col-sm-3">Password :</label>
        <custom-input icon="lock"></custom-input>
      </div>

      <div class="form-row mt-2">
          <label class="col-sm-3"> Stripe :</label>
          <custom-input icon="flash"></custom-input>
        </div>

        <div class="form-row mt-2">
            <label class="col-sm-3"> Paypal :</label>
            <custom-input icon="paypal"></custom-input>
          </div>

  </div>
</div>